<ul  class="nav nav-tabs"  role="tablist">  
    <li id="refreshreport" class="" ><a href="" ng-click="retriveStats();"  ><span class="blacktext">Refresh Stats</span></a></li>
  <li id="reportBrowser" class="" ><a href="#reportBrowsertab" role="tab" data-toggle="tab"     ><span class="blacktext">Report Browser</span></a></li>
  <li id="elemDetail" class="" ><a href="#elemDetailtab" role="tab" data-toggle="tab"     ><span class="blacktext">Element Details</span></a></li>
  <li id="userFormula" class=""><a href="#userFormulatab"   role="tab" data-toggle="tab"  ng-click="setUserFormulas();" ><span class="blacktext">Formulas for Report-{{reportId}}</span></a></li>  
  <li   > <span class="blacktext">Data refreshed at :{{time}}</span> </li>
</ul>     	 

  