 <div  id="head"><div  my_header seconds={{seconds}} loginuid="{{loginuid}}" is_menu="isMenu" site_title={{title}}  appid={{appid}}   > </div></div>     
			    
<div id="maincontent" class="row container-fluid ">
	<div  id="rptstats" ng-show="isMenu"    class="row col-xs-12 col-sm-12 col-md-12  col-lg-12 col-sm-height col-top pull-left ">     
	          Reportstats For Setting
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
		<div id="mainrow"  class="row boxborder row-same-height">   
		     <div id="rptinfonav" class="yellow col-xs-12 col-sm-12 col-md-12  col-lg-12 col-sm-height col-top pull-left boxitem boxborder"   > 
		            Report Info left tab
		       </div>
		
		     <div id="rptinforight" class="col-xs-12 col-sm-8 col-md-8  col-lg-8 col-sm-height col-top pull-left container-fluid boxitem boxborder fullheight tab-content">
		                  Report Info Left tab
			 </div>
		
		
		     <div id="rptinfoleft"  class="col-xs-12 col-sm-4 col-md-4  col-lg-4 col-sm-height col-top pull-left  container-fluid fullheight boxitem boxborder  tab-content">
		      Report Info Right tab
		      </div> 
		</div> 
	</div>
</div>